<html>
<%- include partials/head.ejs%>
<%- include partials/nav.ejs%>
<body>
    <section>
        <% if(initiatives.length !== 0){ %>
         <h1 style="color: #d35400; text-transform: uppercase">Poll of Initiatives</h1>
        <%initiatives.forEach((initiative)=>{%>
        <div class="row">
          <div class="col span-1-of-2">
          <div class="author-name" style="color: #d35400; font-weight:100; margin-bottom: 20px"><h2><b><%=initiative.Author %></b></h2></div>
          <div><p style="font-weight: bold; font-style: italic"><%= initiative.title %></p></div>
          <div><p><%= initiative.Body %></p></div>
          <div><p style="font-weight: bold"><%= initiative.Created %></p></div>
          </div>
        </div>
          </section>
          <%})%>
       <% } else{ %> 
       <section> 
        <div class="row">
            <h1>My Poll of Initiatives</h1>
          <div class="message"><p><b>You have not created any initiative</b></p></div>
        </div>
       </section>
<% } %>
<footer>
    <div class="row">
        <div>
        <p>Copyright &copy; Andela21 Team C 2017. All rights reserved.</p>
        </div>
    </div>
</footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="../js/javascript.js"></script>
</body>
</html>