
<html>
<%- include partials/head.ejs %>
  <body>
    <%- include partials/nav.ejs %>
      <div class="container">
        <%- include partials/about.ejs %>
        <%- include partials/newInitiative.ejs %> 
        <div class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2   news-feed">
            <h1 class="text-center" style="color: #70E4EF">INITIATIVES</h1>
            <%if(initiatives){%>
            <%initiatives.reverse().forEach((initiative)=>{%>
            <div class="row opinion-card card">
                <img src="<%=initiative.image%>" class="col-sm-12 col-md-10 col-md-offset-1 card-img-top" alt="Intiative Image">
              <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1 card-block">
                <h3 class="card-title">
                  <strong><%=initiative.title%></strong>
                  <h4 class="author"><strong>Author:</strong><%=initiative.author.username%></h4>
                  <h4 class="cinema"><%=initiative.created.toDateString()%></h4>
                </h3>
                <div class="card-text">
                <% let description = initiative.description.split(' ');%>
                <% if(description.length > 20){%>
                  <% description = description.splice(0, 20).join(' ');%>
                <%} else{%>
                  <%description = description.join(' ');%>
                <%}%>
                <%=description%>
                ...
                 <a class="btn btn-primary btn-xs" href="/andelainitiative/<%=initiative.id%>">Read more</a>
                 </div>
              </div>
              </div>
              <%})%>
              <%}%>
          </div>   
          </div>
        </div>
      </div>
  </body>

</html>

