
<html>
<%- include partials/head.ejs %>

  <body>
    <%- include partials/nav.ejs %>
      <div class="container">
        <%- include partials/newInitiative.ejs %> 
        <div class="row">
          <div class="col-sm-12 col-md-7 pull-left  news-feed">
            <h1 class="text-center">Intitatives</h1>
            <%if(initiatives){%>
              <%=JSON.stringify(initiatives)%>
              <%}%>
          </div>
          <div class="col-sm-12 col-md-4 pull-right visible-md visible-lg">
            <h1>Recently Added</h1>
            <%let maxCount = 0; %>
            <%for(let initiativeIndex = initiatives.length-1; initiativeIndex >= 0; initiativeIndex -= 1){%>
                  <%if(maxCount > 5) {%>
                    <%break%>;
                  <%}%>
                  <%const initiative = initiatives[initiativeIndex]%>
                  <a class="btn btn-link" href="/show/<%initiative.id%>"><%=initiative.title%></a>
                  <%maxCount += 1%>
            <%}%>
          </div>
        </div>
      </div>
  </body>

</html>

