
<html>
<%- include partials/head.ejs %>

  <body>
    <%- include partials/nav.ejs %>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-7 pull-left  news-feed">
            <h1>Intitatives</h1>
            <%initiatives.forEach((initiative)=>{%>
            <div class="row">
              <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">

                <h3>
                  <%=initiative.title%>
                </h3>
                <div class="col-md-4">
                  <img src="<%=initiative.image%>" class="img-circle col-sm-12 col-md-10 col-md-offset-1" alt="Intiative Image">
                </div>
                <%=initiative.description%>
              </div>
              </div>
              <%})%>
          </div>
          <div class="col-sm-12 col-md-4 pull-right visible-md visible-lg">
            <h1>Recently Added</h1>
          </div>
        </div>
      </div>
  </body>

</html>
html>

