
<html>
<%- include partials/head.ejs %>

  <body>
    <%- include partials/nav.ejs %>
      <div class="container">
        <%- include partials/newInitiative.ejs %> 
        <div class="row">
          <div class="col-sm-12 col-md-7 pull-left  news-feed">
            <h1 class="text-center">Intitatives</h1>
            <%if(initiatives){%>
            <%initiatives.forEach((initiative)=>{%>
            <div class="row">
              <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                <h3>
                  <%=initiative.title%>
                </h3>
                <h4>By:<em><%=initiative.author%></em></h4>
                <div class="col-md-4">
                  <img src="<%=initiative.image%>" class="img-circle col-sm-12 col-md-10 col-md-offset-1" alt="Intiative Image">
                </div>
                <% let description = initiative.description.split(' ');%>
                <% if(description.length > 50){%>
                  <% description = description.splice(0, 50).join(' ');%>
                <%} else{%>
                  <%description = description.join(' ');%>
                <%}%>
                <%=description%>
                 <a class="btn btn-primary btn-sm" href="/show/<%=initiative.id%>">more</a>
              </div>
              </div>
              <%})%>
              <%}%>
          </div>
          <div class="col-sm-12 col-md-4 pull-right visible-md visible-lg">
            <h1>Recently Added</h1>
            <%let maxCount = 0; %>
            <%for(let initiativeIndex = initiatives.length-1; initiativeIndex >= 0; initiativeIndex -= 1){%>
                  <%if(maxCount > 5) {%>
                    <%break%>;
                  <%}%>
                  <%const initiative = initiatives[initiativeIndex]%>
                  <a class="btn btn-link" href="/show/<%initiative.id%>"><%=initiative.title%></a>
                  <%maxCount += 1%>
            <%}%>
          </div>
        </div>
      </div>
  </body>

</html>

