<html>
<%- include partials/head.ejs %>
  <body>
    <%- include partials/nav.ejs %>
      <div class="container">
        <%- include partials/about.ejs %>
      <%- include partials/editInitiative.ejs %> 
        <div class="col-sm-12 col-md-10 col-md-offset-1  news-feed">
          <div class="row">
            <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
              <h3>
                <%=initiative.title%>
              </h3>
              <div class="col-md-4">
                <img src="<%=initiative.image%>" class="img-rounded col-sm-12 col-md-10 col-md-offset-1" alt="Intiative Image">
              </div>
              <div>
                <%=initiative.description%>
              </div>
            <div style="padding-bottom: 15px;">
              <%if (currentUser && initiative.author.id.equals(currentUser._id)) {%>
              <button type="button" id="editInitiative-<%=initiative._id%>" class="btn btn-info btn-xs edit" data-toggle="modal" data-target="#createInitiative">Edit Intiative</button>
              <form style="display: inline;" action="/andelainitiative/<%=initiative._id%>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-xs btn-danger" value="Delete Initiative">
              </form>
              <%}%>
              <a class="btn btn-xs btn-success" href="/andelainitiative/<%=initiative._id%>/opinions/new"> Add New Opinion</a>
            </div>
            </div>
          </div>
              <div class="row opinion-wrapper">
                  <%initiative.opinions.forEach((opinion) => {%>
                    <div class="col-sm-12 col-md-12 opinion-container">
                       <h4><%=opinion.author.username%> Says:</h4>
                       <p class='text-right'><em><%=opinion.date%></em></p>
                       <p><%=opinion.text%></p>
                    <div id="selectors" class="col-md-12">
                    <a href="#" rel="<%=opinion._id%>" class="allVotes">
                      <input type="submit" id="Uvote-<%=opinion._id%>" class="btn btn-xs btn-primary" value="like this">
                        <span class="glyphicon glyphicon-thumbs-up"</span></a><span class="upvoted"><%=opinion.upvotes.length%></span>
                    <%if(currentUser && opinion.author.id.equals(currentUser._id)) {%>
                    <a class="btn btn-xs btn-success" href="/andelainitiative/<%=initiative._id%>/opinions/<%=opinion._id%>/edit"> Edit Opinion</a>
                    <form style="display: inline;" action="/andelainitiative/<%=initiative._id%>/opinions/<%=opinion._id%>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="Delete Opinion">
                    </form>
                    <%}%>
                    </div>
                    </div>
                    <%})%>
          </div>
        </div>
      </div>
<!--      <script src="/js/main.js"></script>-->
  </body>
</html>